   .sideMenu {
    top: 100px;
    position: absolute;
    left: 100px;
  }

  .userNav
  {
    margin-left: 110px;
    margin-right: 110px;
  }

  .spliterline
  {
      /* color: #EBE8D5; */
    color: rgb(160, 158, 158);
    width: 100%;
height:2px ;

  }
  .rightside
  {
    top: 100px;
    position: absolute;
    left: 322px;
  }
  /* .dataTables_length,.dataTables_filter
  {
display:none;
  }
  .bs-select
  {
display: none;
  } */
  thead:nth-child(1){
    display:none;
 }