
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDEBDE;
 
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.HomePage
{
  background-image: url("./images/masthead_background.jpg");
}
.SignIn_Form
{
  position: absolute;
  right:20px;
  
}
.SignIn_form-btn
{
  background-color: #58371F !important;
  border-color: #58371F !important;
}
.SignUp_form
{
  width:35%;
  position: relative;
  left:805px;
  margin:25px;

}
.SignUp_form-btn
{
  background-color:  #FFD56D !important;
  border-color:  #FFD56D !important;
 
}
.ImageUpload
{
  width:73% !important;
  border:1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white !important;
  padding: 5px;
  margin-right: 3px;
}